# See README.md for more information on how to use this example.

# Required configuration:
KEY_FILE=/secrets/private_key.pem
KEY_ID=1
ISSUER=https://op.example.com

# Optional configuration:
INTROSPECTION_ENDPOINT=https://op.example.com/tokeninfo
USERINFO_ENDPOINT=https://op.example.com/userinfo
ALG=ES256
TOKEN_PERIOD=3600
PORT=8080
