# Internal CA configuration
STEP_CA_VERSION=0.30.1

# Reverse proxy configuration
TRAEFIK_VERSION=v3.6
ACME_EMAIL=admin@example.com

# OpenID Provider database configuration
KEYCLOAK_POSTGRES_VERSION=18-alpine

# OpenID Provider configuration
KEYCLOAK_VERSION=26.5.6
OP_HOST=op.example.com

# OIDC² middleware configuration
# See README.md for more information on how to use this example.

# Required configuration:
KEY_FILE=/secrets/private_key.pem
KEY_ID=1

# Optional configuration:
OIDC2MIDDLEWARE_VERSION=0.2
ALG=ES256
TOKEN_PERIOD=3600
DPOP_MAX_AGE=300
ALLOWED_ORIGINS=https://koala-local,https://koala.primbs.dev
